@import '@styles/variables';
@import '@styles/mixins';

.content {
  flex: 1;
  width: 100%;

  @include responsive(sm) {
    max-width: none;
    border-right: none;
  }

  @include responsive(md) {
    max-width: $width-content;
  }
}
